<body>

<div class="signin-container container">
    <div class="left-section">
        <%= image_tag "logoicon.png", alt: "Logo" %>
        <h1>Stay ahead of the pack with</h1>
        <h1><strong>Smart Puppy</strong></h1>
    </div>
    <div class="right-section" data-controller='business'>
        <div class="element">
            
            <h3>Become a part of the pack</h3>
              <div class="already-user-link">
                    <%= link_to "Already a user? Get back in here!", new_user_session_path, class: "custom-btn" %>
                </div>
            <div class="sp-role-buttons">
                <button class="custom-btn" id="careerpup-btn" onclick="chooseRole('careerpup')" data-action="click->business#uncheckBusiness">CareerPup</button>
                <button class="custom-btn" id="business-btn" onclick="chooseRole('business')" data-action="click->business#checkBusiness">Business Partner</button>
            </div>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="form-inputs" style="text-align: center;">
                    <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } %>
                    <%= f.input :password, required: false, input_html: { autocomplete: "current-password" } %>
                    <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "current-password" } %>

                    <div class="hidden-checkbox-container" style="display: none;">
                        <%= f.input :business, required: true, input_html: { data: { business_target: "checkbox" } } %>
                    </div>

                   <div class="remember-me-container" style="text-align: center;">
    <%= f.label :remember_me, class: "remember-me-label" do %>
        <%= f.check_box :remember_me, class: "custom-checkbox" if devise_mapping.rememberable? %>
        Remember Me
    <% end %>
</div>

                </div>
                <div class="form-actions" style="margin-top: 20px">
                    <%= f.button :submit, "Signup", class: "custom-btn" %>
                </div>
              
            <% end %>

            <!-- Sign up with social icons -->

        </div>
    </div>
</div>

<script>
    // JavaScript function to handle selecting role buttons
    function chooseRole(role) {
        const clickedButton = document.getElementById(`${role}-btn`);
        const otherButton = role === 'careerpup' ? document.getElementById('business-btn') : document.getElementById('careerpup-btn');

        // Toggle 'clicked' class for the clicked button
        clickedButton.classList.toggle('clicked');

        // Remove 'clicked' class from the other button
        otherButton.classList.remove('clicked');
    }
</script>


</body>
