<body>
  <div class="container-fluid business-index-container">
    <div class="business-index-banner" style="background-image: url('https://source.unsplash.com/1600x900/?job,application');">
      <div class="banner-overlay">
        <h1 class="banner-title">Post a new job to find the right candidates!</h1>
      </div>
    </div>

    <div class="row" style="background-color: rgba(212,253,254,255); max-width: 90%; margin-left: auto; margin-right: auto; text-align: center; margin-top: 5%;">
      <% if @jobs.any? %>
        <% @jobs.each_slice(4) do |jobs_slice| %>
          <div class="row" style="margin-top: 20px">
            <% jobs_slice.each do |job| %>
              <div class="col-12 sp-Careerpup-index-card mb-4">
                <div class="card h-100">
                  <div class="pup-dashboard-card col-md-4">
                    <% if job.photo.attached? %>
                      <%= image_tag(job.photo, class: "img-fluid rounded-start mt-0") %>
                    <% else %>
                      <%= image_tag("https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", class: "img-fluid rounded-start mt-0") %>
                    <% end %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title business-card-title"><strong>Job Title:</strong> <%= job.title %></h5>
                    <p class="card-text business-card-text"><strong>Company Name:</strong> <%= job.company_name %></p>
                    <p class="card-text business-card-text"><strong>Location:</strong> <%= job.location %></p>
                    <p class="card-text business-card-text">
                      <strong class="description-title">Job Description:</strong>
                      <span class="description-content"><%= job.description.truncate(50) %></span>
                    </p>
                    <p class="card-text business-card-text"><strong>Requirements:</strong> <%= job.requirements %></p>
                    <%= link_to 'View job', job_path(job), class: "btn btn-link business-btn" %>
                    <p class="card-text business-card-text"><small class="text-muted">Posted: <%= time_ago_in_words(job.updated_at) %></small></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="col-12">
          <p class="text-center" style="background-color: rgba(212,253,254,255)">No jobs found.</p>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <%= will_paginate @jobs %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" style="background-color: rgba(17,113,162,255)">
    <div class="col-12 business-index-buttons text-center" style="width: 90%">
      <%= link_to 'Back to Dashboard', dashboard_path, class: "btn btn-secondary mb-3 business-btn index-business-button" %>
      <%= link_to 'Create a new Job listing', new_job_path, class: "btn btn-secondary mb-3 business-btn index-business-button" %>
    </div>
  </div>
</body>
