<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to 'Back to Dashboard', dashboard_path, class: "btn btn-secondary mb-3" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 my-3">
      <%= form_with url: jobs_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Type a keyword" %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary me-2" %>
        <%= link_to 'Reset', jobs_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
    <div class="col-12 col-md-2 my-3">
      <%= form_with url: jobs_path, method: :get, local: true do %>
        <%= select_tag :per_page, options_for_select([5, 10, 20, 50, 100], params[:per_page]), class: "form-select", onchange: "this.form.submit();" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if @jobs.any? %>
      <% @jobs.each do |job| %>
        <div class="col-12 col-sm-6 mb-4">
          <div class="card h-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><strong>Job Title:</strong> <%= job.title %></h5>
                  <p class="card-text"><strong>Company Name:</strong> <%= job.company_name %></p>
                  <p class="card-text"><strong>Location:</strong> <%= job.location %></p>
                  <p class="card-text" style="text-align: justify;"><strong>Job Description:</strong> <%= job.description.truncate(50) %></p>
                  <p class="card-text"><strong>Requirements:</strong> <%= job.requirements %></p>
                  <%= link_to 'View job', job_path(job), class: "btn btn-link" %>
                  <p class="card-text"><small class="text-muted">Posted: <%= time_ago_in_words(job.updated_at) %></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-12">
        <p class="text-center">No jobs found.</p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= will_paginate @jobs %>
    </div>
  </div>
</div>
