
<footer>
  <div class="social-icons">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="links">
    <%= link_to 'About Us', about_us_path %> |
    <%= link_to 'Get in Touch', get_in_touch_path %> |
    <%= link_to 'Explore Jobs', jobs_path %> |
    <%= link_to 'List Jobs', new_job_path %> |
    <%= link_to 'Create CV', 'https://cv-builder-22498dba2c4c.herokuapp.com' %> |
    <%= link_to 'Cookies Preferences', cookies_preferences_path %> |
    <%= link_to 'Explore Talent', '#' %> |
    <%= link_to 'Privacy Policy', privacy_policy_path %>
  </div>

  <!-- Scroll-up arrow -->
  <div id="scrollUp" class="scroll-up-arrow" onclick="scrollToTop()">
    <i class="fas fa-rocket"></i>
  </div>

  <div class="copyright">
    &copy; 2024 Smart Puppy. All rights reserved.
  </div>
</footer>
