<body>
  <!-- Banner Section -->
  <div class="show-page-banner" style="background-image: url('/assets/banner2.png');">
    <h1 class="banner-text">Dashboard - CareerPup</h1>
    <h2 class="banner-subtitle">Overview</h2>
  </div>

  <!-- Dashboard Container -->
  <div class="pup-dashboard-container container-fluid mt-4" style="border-radius: 50px; padding-bottom: 3%">

    <!-- My Jobs Section -->
    <div class="pup-dashboard-section">
      <h2 class="pup-dashboard-subtitle text-center" style="background-color: transparent">My Jobs</h2>
      <div class="row">
        <% if @jobs && @jobs.any? %>
          <% @jobs.each do |job| %>
            <div class="col-12 col-md-4 mb-4">
              <div class="business-card" style="background-color: white;">
                <div class="card-image" style="padding: 10px;"> <!-- Adjust padding as needed -->
                  <% if job.photo.attached? %>
                    <%= image_tag(job.photo, class: "img-fluid rounded-start mt-0") %>
                  <% else %>
                    <%= image_tag("https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", class: "img-fluid rounded-start mt-0") %>
                  <% end %>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><strong>Job Title:</strong> <%= job.title.truncate(18) %></h5>
                  <p class="card-text"><strong>Company Name:</strong> <%= job.company_name.truncate(18) %></p>
                  <p class="card-text"><strong>Location:</strong> <%= job.location.truncate(18) %></p>
                  <p class="card-text">
                    <strong class="description-title">Job Description:</strong>
                    <span class="description-content"><%= job.description.truncate(18) %></span>
                  </p>
                  <p class="card-text"><strong>Requirements:</strong> <%= job.requirements.truncate(18) %></p>
                  <%= link_to 'View job', job_path(job), class: "custom-btn" %>
                  <p class="card-text"><small class="text-muted">Posted: <%= time_ago_in_words(job.updated_at) %></small></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col-12">
            <p class="text-center">You have no jobs posted yet.</p>
          </div>
        <% end %>
      </div>
    </div>

    <hr class="section-divider"> <!-- Line divider -->

    <!-- My Resumes Section -->
    <div class="pup-dashboard-section">
      <h2 class="pup-dashboard-subtitle text-center">My Resumes</h2>
      <div class="row">
        <% if @resumes && @resumes.any? %>
          <% @resumes.each do |resume| %>
            <div class="col-12 col-md-4 mb-4">
              <div class="business-card" style="background-color: white;">
                <div class="card-body">
                  <h5 class="card-title"><%= resume.title.truncate(8) %></h5>
                  <p class="card-text"><%= time_ago_in_words(resume.created_at) %> ago</p>
                  <%= link_to 'Download', rails_blob_path(resume.resume_file, disposition: "attachment"), class: "btn pup-dashboard-btn-primary" %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col-12">
            <p class="text-center">You have no resumes uploaded yet.</p>
          </div>
        <% end %>
      </div>
      <div class="pup-dashboard-btn-container text-center" style="background-color: transparent">
        <%= link_to 'View All My Resumes', my_resumes_path, class: "custom-btn" %>
        <div class="post-new-job-button">
          <%= link_to "Create a New Resume", "http://www.smartpuppy-resume.tech/cv-import", class: "custom-btn-justins-green" %>
        </div>
      </div>
    </div>
  </div>
</body>
