<div class="container">
  <h1>Dashboard - CareerPup</h1>

  <div class="mt-4">
    <h2>My Jobs</h2>
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= job.title %></h5>
              <p class="card-text"><%= job.company_name %></p>
              <p class="card-text"><%= job.location %></p>
              <%= link_to 'View job', job_path(job), class: "btn btn-link" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'View All My Jobs', my_jobs_path, class: "btn btn-secondary float-end" %>
  </div>

  <div class="mt-4">
    <h2>My Resumes</h2>
    <div class="row">
      <% @resumes.each do |resume| %>
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= resume.title %></h5>
              <p class="card-text"><%= time_ago_in_words(resume.created_at) %> ago</p>
              <%= link_to 'Download', rails_blob_path(resume.file, disposition: "attachment"), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'View All My Resumes', my_resumes_path, class: "btn btn-secondary float-end" %>
  </div>
</div>
