<!-- app/views/pages/my_jobs.html.erb -->
<div class="jobs-container">
  <div class="jobs-row">
    <div class="jobs-col-12">
      <%= link_to 'Go back to Dashboard', dashboard_path, class: "jobs-btn jobs-btn-secondary jobs-mb-3" %>
    </div>
  </div>
  <h1 class="jobs-title">My Jobs</h1>
  <div class="jobs-row">
    <% @jobs.each do |job| %>
      <div class="jobs-col-12 jobs-col-md-6 jobs-mb-4">
        <div class="jobs-card jobs-h-100">
          <div class="jobs-row jobs-g-0">
            <div class="jobs-col-md-4">
              <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="jobs-img-fluid jobs-rounded-start" alt="...">
            </div>
            <div class="jobs-col-md-8">
              <div class="jobs-card-body">
                <h5 class="jobs-card-title"><strong>Job Title:</strong> <%= job.title %></h5>
                <p class="jobs-card-text"><strong>Company Name:</strong> <%= job.company_name %></p>
                <p class="jobs-card-text"><strong>Location:</strong> <%= job.location %></p>
                <p class="jobs-card-text" style="text-align: justify;"><strong>Job Description:</strong> <%= job.description.truncate(50) %></p>
                <p class="jobs-card-text"><strong>Requirements:</strong> <%= job.requirements %></p>
                <%= link_to 'View job', job_path(job), class: "jobs-btn jobs-btn-link" %>
                <p class="jobs-card-text"><small class="jobs-text-muted">Posted: <%= time_ago_in_words(job.updated_at) %></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
